<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Zachary Taylor", '#', id: "logo" %>
      <nav>
        <ul class="nav navbar-nav pull-right">
          <li><%= link_to "Home",    '/' %></li>
          <li><%= link_to "Publications",    '/publications' %></li>
          <li><%= link_to "Code", '/code' %></li>
          <li><%= link_to "Datasets",    '/datasets' %></li>
          <li><%= link_to "Non-academic",    '/nonacademic' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>